@use '../../functions' as *;

.wp-block-buttons {
    .wp-block-button {

        .wp-block-button__link {
            @extend .btn;
        }
        &.is-style-outline {
            .wp-block-button__link {
                @extend .btn-outline-primary;
                border-color:$primary !important;
                color:$primary !important;
                border-radius: 0 !important;
                border-width: toREM(2);
                &:hover,&:focus {
                    background:$primary !important;
                    color:white !important;
                }
            }
        }
        &.is-style-fill {
            .wp-block-button__link {
                @extend .btn-primary;
                border-color:$primary !important;
                background:$primary !important;
                color:white !important;
                border-radius: 0 !important;
                border-width: toREM(2);
            }
        }
    }
}
