@use 'sass:color';

.wp-block-buttons {
    gap: 1em;
    .wp-block-button {

        .wp-block-button__link {
            @extend .btn;
            padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        }

        &.is-style-outline {
            .wp-block-button__link {
                @extend .btn-outline-primary;
                border-width: $btn-border-width;
            }


            .wp-block-button__link.has-text-color {
                background: transparent;
                border-color: var(--selected-text-color);
                &:hover,&:focus {
                    background: var(--selected-text-color) !important;
                    border-color: var(--selected-text-color) !important;
                    color: var(--#{$prefix}white) !important;
                }
            }
        }

        &.is-style-fill {
            .wp-block-button__link {
                @extend .btn-primary;
                border-width: $btn-border-width;
            }
            .wp-block-button__link.has-background {
                background: var(--selected-background);
                border-color: var(--selected-background);
                &:hover,&:focus {
                    background: color-mix(in hsl, var(--selected-background), black 10%) !important;
                    border-color: color-mix(in hsl, var(--selected-background), black 10%) !important;
                    color: var(--#{$prefix}white) !important;
                }
            }
        }
    }
}
