.wp-block-spacer {

    height: 0 !important;box-sizing: content-box;
    margin-top:0 !important;
    margin-bottom:0 !important;

    &:not([class*="is-style"]) {
        padding-top: $spacer;
        @include media-breakpoint-up(md) {
            padding-top: $spacer*3;
        }
    }
    &.is-style-sm,&.is-style-default {
        padding-top: $spacer;
    }
    &.is-style-md {
        padding-top: $spacer;
        @include media-breakpoint-up(md) {
            padding-top: $spacer*2;
        }
    }
    &.is-style-lg {
        padding-top: $spacer;
        @include media-breakpoint-between(md, lg) {
            padding-top: $spacer*3;
        }
        @include media-breakpoint-up(xl) {
            padding-top: $spacer*4;
        }
    }
    &.is-style-xl {
        padding-top: $spacer;
        @include media-breakpoint-between(md, lg) {
            padding-top: $spacer*4;
        }
        @include media-breakpoint-up(xl) {
            padding-top: $spacer*6;
        }
    }
}

.is-root-container {
    .wp-block-spacer {
        opacity:0.2;
    }
    .wp-block-spacer {
        background: repeating-linear-gradient(
                        45deg,
                        transparent,
                        transparent  #{rem(10)},
                        rgba(black, .5) #{rem(10)},
                        rgba(black, .5) #{rem(11)},
                        rgba(white, .8) #{rem(11)},
                        rgba(white, .8) #{rem(12)}
        );
        box-shadow: inset 0 0 0 rem(1) white, inset 0 0 0 rem(2) black;
    }
}