.screen-reader-response {
    @extend .visually-hidden;
}

.wpcf7-not-valid-tip {
    @extend .invalid-feedback;
}

.wpcf7-form {
    .wpcf7-form-control-wrap {
        width:100%;
        display:block;
    }
    .form-control,.form-select {
        &:not(textarea) {
            //height:rem(46);
        }
        box-sizing: border-box;
    }
    .wpcf7-acceptance,.wpcf7-checkbox {
        label {
            @extend .form-check;
            input {
                @extend .form-check-input;
            }
            .wpcf7-list-item-label {
                @extend .form-check-label;
            }
        }
    }
    .wpcf7-form-control-wrap {
        position:relative;
        .wpcf7-not-valid-tip {
            position:absolute;top:100%;
            margin-top:0;
        }
    }
    &.invalid {
        .wpcf7-response-output {
            @extend .mt-4;
            @extend .alert;
            @extend .alert-danger;
        }
        .wpcf7-not-valid {
            @extend .is-invalid;
        }
    }
    &.sent {
        .wpcf7-response-output {
            @extend .mt-4;
            @extend .alert;
            @extend .alert-success;
        }
    }
}