@use "sass:map";

$additional-colors: (
    'black': $black,
    'white': $white,
);

@each $color-name, $color-value in map.merge($theme-colors, $additional-colors) {
    .has-#{$color-name}-background-color {
        background-color: var(--#{$prefix}#{$color-name});
        --selected-background: var(--#{$prefix}#{$color-name});
    }
    .has-#{$color-name}-subtle-background-color {
        background-color: var(--#{$prefix}#{$color-name}-bg-subtle);
        --selected-background: var(--#{$prefix}#{$color-name}-bg-subtle);
    }
}