@each $color-name, $color-value in $theme-colors {
    .has-#{$color-name}-background-color {
        background-color: var(--#{$prefix}#{$color-name});
    }
}

&.has-white-background-color {
    background-color: var(--bs-white);
}
&.has-black-background-color {
    background-color: var(--bs-black);
}