@use "sass:math";

.wp-block-columns {
    margin-left: math.div($grid-gutter-width, 2) * -1;
    margin-right: math.div($grid-gutter-width, 2) * -1;
    .wp-block-column {
        padding-left: math.div($grid-gutter-width, 2);
        padding-right: math.div($grid-gutter-width, 2);
        @include media-breakpoint-down(md) {
            margin-bottom: math.div($spacer, 2);
        }
    }
    @include media-breakpoint-up(md) {
        &:not(.is-not-stacked-on-mobile) > .wp-block-column {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
        }
    }
}