[data-bs-theme="light"] {
    .hide-light {
        display: none !important;
    }
}
[data-bs-theme="dark"] {
    .hide-dark {
        display: none !important;
    }
}

:root {
    --container-width: calc(100vw - (1.5 * #{$spacer}));
    @each $breakpoint,$width in $container-max-widths {
        @include media-breakpoint-up($breakpoint) {
            @if $breakpoint == xs {
            } @else {
                --container-width: min(100vw, #{$width});
            }
        }
    }
}