.has-text-color {
    @each $color-name, $color-value in $theme-colors {
        &.has-#{$color-name}-color {
            color: var(--bs-#{$color-name});
        }
    }
    &.has-white-color {
        color: var(--bs-white);
    }
    &.has-black-color {
        color: var(--bs-black);
    }
}

$additional-font-sizes: (
    'small': $font-size-sm,
    'large': $font-size-lg,
);
@each $size-name, $size-value in map-merge($font-sizes, $additional-font-sizes) {
    .has-#{$size-name}-font-size {
        font-size: $size-value;
    }
}
