.font-lg {
    font-size:$font-size-lg !important;
}
.font-sm {
    font-size: $font-size-sm !important;
}
.font-xs {
    font-size: $font-size-xs !important;
}

.font-bold {
    font-weight: $font-weight-bold;
}
.font-bolder {
    font-weight: $font-weight-bolder;
}
.font-light {
    font-weight: $font-weight-light;
}
.font-lighter {
    font-weight: $font-weight-lighter;
}