@use "sass:map";

$additional-text-colors: (
    'black': $black,
    'white': $white,
);

.has-text-color {
    @each $color-name, $color-value in map.merge($theme-colors, $additional-text-colors) {
        &.has-#{$color-name}-color {
            color: var(--bs-#{$color-name});
            --selected-text-color: var(--#{$prefix}#{$color-name});
        }
        &.has-#{$color-name}-subtle-color {
            color: var(--bs-#{$color-name}-bg-subtle);
            --selected-text-color: var(--#{$prefix}#{$color-name}-bg-subtle);
        }
    }
}

@each $size-name, $size-value in $font-sizes {
    .has-#{$size-name}-font-size {
        font-size: $size-value;
    }
}
