
// Float clear fix
@mixin clr($where: after){
    &::#{$where}{
        clear:both;content:'';display:block;
    }
}

// Style the placeholder
@mixin placeholder($color) {
     /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
        color: $color;opacity:1;
    }
    /* Firefox 19+ */
    &::-moz-placeholder { 
        color: $color;opacity:1;
    }
     /* IE 10+ */
    &:-ms-input-placeholder {
        color: $color;opacity:1;
    }
     /* Firefox 18- */
    &:-moz-placeholder {
        color: $color;opacity:1;
    }
}

// Enable animations on element
@mixin anim($time:0.2s) {
    transition:$time linear all;
}

@mixin container-max-width() {
    @include media-breakpoint-up(xxl) {
        max-width: map-get($container-max-widths, 'xxl') !important;
    }
    @include media-breakpoint-only(xl) {
        max-width: map-get($container-max-widths, 'xl') !important;
    }
    @include media-breakpoint-only(lg) {
        max-width: map-get($container-max-widths, 'lg') !important;
    }
    @include media-breakpoint-only(md) {
        max-width: map-get($container-max-widths, 'md') !important;
    }
    @include media-breakpoint-only(sm) {
        max-width: map-get($container-max-widths, 'sm') !important;
    }
    @include media-breakpoint-only(xs) {
        max-width: map-get($container-max-widths, 'xs') !important;
    }
}