@import "mixins";
@import "functions";

// Boostrap SASS functions
@import "~bootstrap/scss/functions";

// Variables overrides
@import "variables";
@import "variables-dark";

// Boostrap SASS default variables
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// Boostrap SASS default styles
@import "bootstrap";

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color:$body-color;
    font-weight:$font-weight-light;
}

/* Main column width */
.is-root-container {
    @include container-max-width();
    margin:0 auto;
}

/* Gallery block types  */
.wp-block-gallery {
    margin: rem(20) 0;
    &.columns-4,&.columns-5 {
        .blocks-gallery-grid {
            justify-content: space-between;
            width:100%;
        }
    }
}

/* Post title */
.wp-block.wp-block-post-title {
    @extend .h1;
    @include container-max-width();
    margin:0 auto !important;
}

/* Base block */
.wp-block {
    margin-left: unset !important;
    margin-right: unset !important;
}
html :where(.wp-block) {
    max-width: unset !important;
}

#tinymce {
    padding:$spacer;
}