@import "mixins";
@import "functions";

// Boostrap SASS functions
@import "~bootstrap/scss/functions";

// Variables overrides
@import "variables";
@import "variables-dark";

// Boostrap SASS default variables
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// Boostrap SASS default styles
@import "bootstrap";

// Block styles
@import "components/block/buttons";
@import "components/block/columns";
@import "components/block/gallery";
@import "components/block/heading";
@import "components/block/spacer";
@import "components/block/container";
@import "components/block/paragraph";
@import "components/block/embed";

@import "tools/text";

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color:$body-color;
    font-weight:$font-weight-light;
}

/* Main column width */
.is-root-container {
    margin:0 auto;
    //@include container-max-width();
    width:100%;max-width: 100%;
    .container[class] {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* Gallery block types  */
.wp-block-gallery {
    margin: rem(20) 0;
    &.columns-4,&.columns-5 {
        .blocks-gallery-grid {
            justify-content: space-between;
            width:100%;
        }
    }
}

/* Post title */
.wp-block.wp-block-post-title {
    margin:0 auto !important;
    @include container-max-width();
    @extend .h1;
    & {
        border:rem(1) dashed $text-muted;
        padding: 0.5em 1em;
    }
}

/* Base block */
.wp-block {
    margin-left: unset !important;
    margin-right: unset !important;
}
html :where(.wp-block):not(.container) {
    margin-bottom:0;
    margin-top:0;
    max-width: unset;
}

.row {
    margin-top: calc(-1 * var(--bs-gutter-y, 0));
    & > * {
        margin-top:var(--bs-gutter-y, 0) !important;
    }
}

#tinymce {
    padding:$spacer;
}